<?xml version="1.0" encoding="utf-8"?>
<Authentication>
  <add key="moduleName" value="azureiotsecurity" />
  <add key="deviceId" value="car-device-2" />
  <add key="gatewayHostname" value="iot-hub-az220-pj130622.azure-devices.net" />
  <add key="filePath" value="C:\Users\Pushkar11\Downloads\demos\AZ220\SecurityAgent\Install\Key.txt" />
  <add key="type" value="SymmetricKey" />
  <!-- SymmetricKey, SelfSignedCertificate-->
  <add key="identity" value="Device" />
  <!-- Device, Module, DPS -->
  <add key="certificateLocationKind" value="store" />
  <!-- LocalFile, Store -->
  <add key="idScope" value="" />
  <add key="registrationId" value="" />
</Authentication>